
.App
{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.box
{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* column-gap: 20px; */
  align-items: center; 
  height: 550px; 
  width: 1200px;
  /* background-color: rgba(255, 255, 255, 0.333); */
  border-radius: 15px;
  padding: 1%;
  /* margin: auto; */
}



.left
{
  background-color: rgba(255, 255, 255, 0.333);
  padding: 1%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.line1
{
  /* height: 2px; */
  width: 100px;
  border: solid black 3px;
}

.line2
{
  height: 350px;
  width: 100px;
  border-top: solid black 4px;
  border-bottom: solid black 4px;
  border-left: solid black 4px;
}

.result
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
  /* gap: 37%; */
  margin-left: 10px;
  /* justify-content: space-between; */

}

.query
{
  display: flex;
  align-items: center;
  height: 200px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #003bfb; */
}


.qimage
{
  height: 200px;
  width: 220px;
}

.right
{
  height: 200px;
  display: flex;
  align-items: center;
  /* height: 500px;
  width: 500px;
  overflow: hidden; */
}


.original
{
  /* background-image: url("./assets/original.jpg"); */
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  width: 400px;
  

}

.detected
{
  height: 300px;
  width: 500px;
  /* height: 400px;
  width: 500px; */
  animation: op 1s ease-in;
}

@keyframes op 
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
  
}


#upload, #query_img
{
  display: none;
}

label
{
  font-family: Roboto;
  font-size:1rem;
  /* margin: 50px; */
  width: 180px;
  display: block;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #003bfb, #2d5eac);
  border-radius: 8px;
  cursor: pointer;
}

label:active
{
  transform: translate(2px,2px);
}

.text
{
  border: none;
  outline: none;
  height: 30px;
  width: 260px;
  border-radius: 5px;
}

.buttons
{
  display: flex;
  gap: 10px;
}

button{
  font-family: Roboto;
  font-size:1rem;
  /* margin: 50px; */
  width: 180px;
  display: block;
  height: 50px;
  color: rgb(0, 85, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

button:active
{
  transform: translate(2px,2px);
}

p
{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  animation: op 1s ease-in;
  /* margin-right: 1%; */
}

